absl-py==2.1.0
accelerate==0.33.0
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.3.0
aniso8601==9.0.1
annotated-types==0.6.0
annoy==1.17.3
anyio==4.3.0
apispec==6.4.0
apispec-webframeworks==1.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
asyncio==3.4.3
attrs==23.2.0
Automat==22.10.0
av==12.0.0
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
binaryornot==0.4.4
biom-format==2.1.16
biopython==1.83
black==24.4.2
bleach==6.1.0
blinker==1.8.2
boto3==1.34.34
botocore==1.34.153
brokenaxes==0.6.1
build==1.2.1
cachetools==5.4.0
CAI @ git+https://github.com/Benjamin-Lee/CodonAdaptationIndex.git@b6e017a92c58829f6a5aec8c26a21262bc2a6610
CAI-PyPI==2.0.1
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cohere==5.10.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
constantly==23.10.4
contourpy==1.2.0
cookiecutter==2.5.0
cycler==0.12.1
datasets==2.18.0
debugpy==1.8.1
decorator==5.1.1
deepdiff==6.7.1
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dm-tree==0.1.8
dnspython==2.6.1
docopt==0.6.2
dssp-wsl==0.1.1
et-xmlfile==1.1.0
ete3==3.1.3
executing==2.0.1
fastavro==1.9.7
fastjsonschema==2.19.1
filelock==3.9.0
Flask==3.0.3
Flask-Cors==4.0.0
Flask-RESTful==0.3.10
Flask-SocketIO==5.3.6
flatbuffers==24.3.7
fonttools==4.49.0
fqdn==1.5.1
Frozen-Flask==1.0.2
frozenlist==1.4.1
fsspec==2024.2.0
fvcore==0.1.5.post20221221
gast==0.5.4
gevent==23.9.1
gevent-websocket==0.10.1
gitdb==4.0.11
gitignore_parser==0.1.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.10
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.2
google-pasta==0.2.0
googleapis-common-protos==1.65.0
greenlet==3.0.3
grpcio==1.66.2
grpcio-status==1.66.2
h11==0.14.0
h5py==3.10.0
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.1
humanfriendly==10.0
hyperlink==21.0.0
idna==3.6
incremental==24.7.2
iniconfig==2.0.0
iopath==0.1.10
ipykernel==6.29.3
ipymol==0.5
ipython==8.12.3
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.2
jiter==0.5.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.22
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.1
jupyter-lsp==2.2.4
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.4
jupyterlab_widgets==3.0.10
keras==3.0.5
kiwisolver==1.4.5
kthread==0.2.3
libclang==16.0.6
lightning==2.2.1
lightning-utilities==0.10.1
llvmlite==0.42.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.2
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
namex==0.0.7
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.2
nbformat==5.10.2
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.1.1
notebook_shim==0.2.4
numba==0.59.1
numpy==1.26.4
nvidia-cuda-nvcc-cu12==12.4.131
nvidia-cuda-runtime-cu12==12.4.127
nvidia-pyindex==1.0.9
onnxruntime==1.17.3
openai==1.42.0
opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
ordered-set==4.1.0
overrides==7.7.0
packaging==24.0
pandas==2.2.0
pandocfilters==1.5.1
parameterized==0.9.0
parso==0.8.3
passlib==1.7.4
pathspec==0.12.1
peft==0.12.0
pickleshare==0.7.5
pillow==10.2.0
pip-tools==7.4.1
pipreqs==0.5.0
platformdirs==4.2.0
pluggy==1.5.0
portalocker==2.8.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==5.28.2
psutil==5.9.8
pure-eval==0.2.2
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic_core==2.23.4
pydeck==0.9.1
pydicom==2.4.4
Pygments==2.17.2
pymongo==4.6.1
pynndescent==0.5.13
pyparsing==3.1.2
pyproject_hooks==1.1.0
pyreadline3==3.4.1
pytest==8.3.3
python-codon-tables==0.1.12
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-json-logger==2.0.7
python-slugify==8.0.4
python-socketio==5.11.3
pytorch-lightning==2.2.1
pytorchvideo==0.1.5
pytz==2023.3.post1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.33.0
regex==2023.12.25
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruff==0.4.9
s3transfer==0.10.2
safetensors==0.4.2
scikit-bio==0.6.1
scikit-learn==1.4.1.post1
scipy==1.14.0
seaborn==0.13.2
Send2Trash==1.8.2
sentencepiece==0.2.0
setuptools==68.2.2
simple-websocket==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.25
squarify==0.4.3
stack-data==0.6.3
stanfordkarel==0.2.7
streamlit==1.37.0
sympy==1.12
tabulate==0.9.0
taipy==3.1.1
taipy-config==3.1.1
taipy-core==3.1.1
taipy-gui==3.1.4
taipy-rest==3.1.1
taipy-templates==3.1.1
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.3.0
tinycss2==1.2.1
tokenize-rt==5.2.0
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
torch==2.2.2+cu121
torchaudio==2.2.2+cu121
torchmetrics==1.3.1
torchvision==0.17.2
tornado==6.4
tqdm==4.66.2
traitlets==5.14.2
transformers==4.40.0
tslearn==0.6.3
Twisted==23.10.0
twisted-iocpsupport==1.0.4
types-python-dateutil==2.8.19.20240311
types-requests==2.32.0.20240914
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
umap-learn==0.5.6
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.1
watchdog==4.0.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
Werkzeug==3.0.1
wheel==0.43.0
widgetsnbextension==4.0.10
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.0.3
xxhash==3.4.1
yacs==0.1.8
yarg==0.1.9
yarl==1.9.4
zope.event==5.0
zope.interface==6.4.post2
